/* PROFILE STYLES */

.profile {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .repository-cards {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
