/* PROFILE STYLES */

.profile {
    flex: 1;
    height: 100%;
    width: 80%;
    max-width: 1050px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile .scroll-view {
    overflow-y: scroll;
    height: 420px;
    width: 100%;
}

.profile .repository-cards {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 10px;
}

@media (max-width: 960px) {
    .profile {
        width: 90%;
    }
}

@media (max-width: 760px) {
    .profile {
        flex-direction: column;
        padding: 50px 0;
        width: 100%;
    }
    .profile .user-description {
        margin-bottom: 50px;
        margin-left: 0;
    }
    .profile .scroll-view {
        overflow-y: hidden;
        height: 100%;
    }
    .profile .repository-cards {
        margin-left: 0px;
    }
}