/* FOOTER STYLES */

.footer span {
    margin-bottom: 5px;
    font-size: 1.6rem;
    line-height: 3.4rem;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 2px 1px rgba(204, 204, 204, 0.25);
}